@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   * {
      @apply font-cairo
   }

   h1, h2, h3, h4, h5, h6 {
      @apply text-color-title
   }

   p, span, li {
      @apply text-color-title
   }

   html, body {
      @apply bg-color-bg
   }

   @font-face {
     font-family: 'cairo';
     font-weight: 400;
     font-display: swap;
     src: url(/resources/assets/fonts/Cairo-Regular.ttf) format('truetype');
   }

   @font-face {
      font-family: 'cairo';
      font-weight: 500;
      font-display: swap;
      src: url(/resources/assets/fonts/Cairo-Medium.ttf) format('truetype');
   }

   @font-face {
      font-family: 'cairo';
      font-weight: 600;
      font-display: swap;
      src: url(/resources/assets/fonts/Cairo-SemiBold.ttf) format('truetype');
   }
   
   @font-face {
      font-family: 'cairo';
      font-weight: 700;
      font-display: swap;
      src: url(/resources/assets/fonts/Cairo-Bold.ttf) format('truetype');
   }
}